<% provide(:title, "Editar Almuno") %>
<h1>Actualizar Alumno</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@student) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :Nombre %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :Institucion %>
      <%= f.text_field :institution, class: 'form-control' %>

      <%= f.label :Estado %>
      <%= f.text_field :attendance_state, class: 'form-control' %>

      <%= f.submit "Actuzalizar Alumno", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
