<% provide(:title, 'Lista de alumnos') %>
<h1>Lista de alumnos</h1>

<% if logged_in? %>


<% else %>
  <ul class="students">
    <tr>
      <th>Nombre</th>
      <th>Institucion</th>
      <th>Estado</th>
    </tr>
    <% @students.each do |student| %>
      <li>
      <tr>
        <td><%= student.name%></td>
        <td><%= student.institution %></td>
        <td><%= student.attendance_state %></td>
        <%= link_to "edit", edit_student_path(student) %>
        <%= link_to "delete", student, method: :delete, data: { confirm: "You sure?" } %>
      </tr>
      </li>
    <% end %>
  </ul>
<% end %>
