<% provide(:title, @student.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <table style="width:100%">
       <tr>
         <th>Nombre</th>
         <th>Institucion</th>
         <th>Estado</th>
       </tr>
       <tr>
         <td><%= @student.name %></td>
         <td><%= @student.institution %></td>
         <td><%= @student.attendance_state %></td>
       </tr>
      </table>
    </section>
  </aside>
</div>
