<li id="program-<%= program.id %>">
  <span class="content"><%= program.name_program %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(program.created_at) %> ago.
    <% if current_user?(program.user) %>
      <%= link_to "edit", edit_program_path(program) %>
      <%= link_to "delete", program, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>
