<% provide(:title, "Editar programa") %>
<h1>Actualiza tu programa</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@program) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :Nombre %>
      <%= f.text_field :name_program, class: 'form-control' %>

      <%= f.label :FechaInicio %>
      <%= f.date_field :start_date, class: 'form-control' %>

      <%= f.label :FechaFinal %>
      <%= f.date_field :start_date, class: 'form-control' %>

      <%= f.label :Division %>
      <%= f.text_field :faculty, class: 'form-control' %>

      <%= f.label :Departamento %>
      <%= f.text_field :departament, class: 'form-control' %>

      <%= f.label :Aula %>
      <%= f.text_field :classroom, class: 'form-control' %>

      <%= f.label :Capacidad%>
      <%= f.text_field :min_capacity, class: 'form-control' %>

      <%= f.label :Capacidad%>
      <%= f.text_field :max_capacity, class: 'form-control' %>

      <%= f.label :Instructor %>
      <%= f.text_field :instructor, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email_instructor, class: 'form-control' %>

      <%= f.label :cv %>
      <%= f.text_field :cv, class: 'form-control' %>

      <%= f.label :Institucion %>
      <%= f.text_field :institution_instructor, class: 'form-control' %>

      <%= f.label :Recursos %>
      <%= f.text_area :resources, class: 'form-control' %>

      <%= f.label :Autofinanciamiento %>
      <%= f.text_area:self_financing, class: 'form-control' %>

      <%= f.label :Ambito %>
      <%= f.text_area :scope, class: 'form-control' %>

      <%= f.submit "Actuzalizar Programa", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
