<% provide(:title, "Editar programa") %>
<h1>Actualiza tu programa</h1>
<!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Basico')" id="defaultOpen">Basico</button>
  <button class="tablinks" onclick="openCity(event, 'Extra')">Extra</button>
  <button class="tablinks" onclick="openCity(event, 'Avanzado')">Avanzado</button>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@program) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <!-- Tab content -->
      <div id="Basico" class="tabcontent">
       <h3>Basico</h3>
       <%= f.label :Nombre %>
       <%= f.text_field :name_program, class: 'form-control' %>

       <%= f.label :FechaInicio %>
       <%= f.date_field :start_date, class: 'form-control' %>

       <%= f.label :FechaFinal %>
       <%= f.date_field :start_date, class: 'form-control' %>

       <%= f.label :Departamento %>
       <%= f.select  :departament, ['Nada','Matematicas', 'Fisica','Geologia']%>
      </div>

      <div id="Extra" class="tabcontent">
       <h3>Extra</h3>
       <%= f.label :Aula %>
       <%= f.text_field :classroom, class: 'form-control' %>

       <%= f.label :CapacidadMin%>
       <%= f.text_field :min_capacity, class: 'form-control' %>

       <%= f.label :CapacidadMax%>
       <%= f.text_field :max_capacity, class: 'form-control' %>

       <%= f.label :Instructor %>
       <%= f.text_field :instructor, class: 'form-control' %>

       <%= f.label :email %>
       <%= f.email_field :email_instructor, class: 'form-control' %>

       <%= f.label :cv %>
       <%= f.text_field :cv, class: 'form-control' %>
      </div>

      <div id="Avanzado" class="tabcontent">
       <h3>Avanzado</h3>
       <%= f.label :Institucion %>
       <%= f.text_field :institution_instructor, class: 'form-control' %>

       <%= f.label :Recursos %>
       <%= f.text_area :resources, class: 'form-control' %>

       <%= f.label :Autofinanciamiento %>
       <%= f.text_area:self_financing, class: 'form-control' %>

       <%= f.label :Ambito %>
       <%= f.text_area :scope, class: 'form-control' %>
      </div>

      <%= f.submit "Actuzalizar Programa", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<script>
// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
