<% provide(:title, 'Todos los programas') %>
<h1>Todos los programas</h1>

<ul class="programs">
  <tr>
    <th>Programa</th>
    <th>Departamento</th>
  </tr>
  <% @programs.each do |program| %>
    <li>
    <tr>
      <td><%= program.name_program%></td>
      <td><%= program.departament %></td>
      <%= link_to "edit", edit_program_path(program) %>
      <%= link_to "delete", program, method: :delete, data: { confirm: "You sure?" } %>
    </tr>
    </li>
  <% end %>
</ul>
