<% provide(:title, @program.name_program) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <table style="width:100%">
      <tr>
         <td>Programa: <%= @program.name_program%></td>
      </tr>
      <tr>
         <td>Fecha de inicio: <%= @program.start_date %></td>
      </tr>
      <tr>
        <td>Fecha de fin: <%= @program.end_date %></td>
      </tr>
      <tr>
        <td>Departamento: <%= @program.departament %></td>
      </tr>
      <tr>
         <td>Aula: <%= @program.classroom %></td>
      </tr>
      <tr>
         <td>Capacidad minima: <%= @program.min_capacity %></td>
      </tr>
      <tr>
         <td>Capacidad maxima: <%= @program.max_capacity %></td>
      </tr>
      <tr>
         <td>Recursos: <%= @program.resources %></td>
      </tr>
      <tr>
         <td>Autofinanciamiento: <%= @program.self_financing %></td>
      </tr>
      <tr>
         <td>Ambito: <%= @program.scope %></td>
      </tr>
      </table>
    </section>
  </aside>
</div>
